
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.section {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: bkgrAnimation 8s infinite;
  animation-timing-function: linear;
  margin-right: 0px;
  margin-left: 200px;

}



#innerBlock0 {
  background: black;
  width: 100px;
  height: 100px;
  position: absolute;
  animation: outerAnimation 8s infinite;
  animation-timing-function: linear;
  border-style: groove;
  border-width: 2vw;
  border-radius: 100vw;

}

#innerBlock1 {
  background: black;
  width: 200px;
  height: 200px;
  position: absolute;
  animation: innerAnimation2 8s infinite;
  animation-timing-function: linear;
  border-style: groove;
  border-width: 2vw;
  border-radius: 100vw;

}

#innerBlock2 {
  background: black;
  width: 300px;
  height: 300px;
  position: absolute;
  animation: innerAnimation 8s infinite;
  animation-timing-function: linear;
  border-style: groove;
  border-width: 2vw;
  border-radius: 100vw;

}

#innerBlock3 {
  background: black;
  width: 400px;
  height: 400px;
  position: absolute;
  animation: outerAnimation 8s infinite;
  animation-timing-function: linear;
  border-style: groove;
  border-width: 2vw;
  border-radius: 100vw;

}

#innerBlock4 {
  background: black;
  width: 500px;
  height: 500px;
  position: absolute;
  animation: innerAnimation2 8s infinite;
  animation-timing-function: linear;
  border-style: groove;
  border-width: 2vw;
  border-radius: 100vw;

}

#innerBlock5 {
  background: black;
  width: 600px;
  height: 600px;
  position: absolute;
  animation: innerAnimation 8s infinite;
  animation-timing-function: linear;
  border-style: groove;
  border-width: 2vw;
  border-radius: 100vw;

}



#bkgBlock {
  background: black;
  width: 700px;
  height: 700px;
  position: absolute;
  animation: outerAnimation 8s infinite;
  animation-timing-function: linear;
  border-style: groove;
  border-width: 2vw;
  border-radius: 100vw;

}




@keyframes innerAnimation {
  0% {border-left-color: white; border-top-color: red; border-right-color: white; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 2vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: red;}

  25% {border-left-color: white; border-top-color: white; border-right-color: green; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 1vw; border-right-width: 2vw; border-bottom-width: 1vw;
      background: green;}

  50% {border-left-color: white; border-top-color: white; border-right-color: white; border-bottom-color: blue;
      border-left-width: 1vw; border-top-width: 1vw; border-right-width: 1vw; border-bottom-width: 2vw;
      background: blue;}

  75% {border-left-color: green; border-top-color: white; border-right-color: white; border-bottom-color: white;
      border-left-width: 2vw; border-top-width: 1vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: green;}

  100% {border-left-color: white; border-top-color: red; border-right-color: white; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 2vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: red;}

}




@keyframes innerAnimation2 {
  0% {border-left-color: white; border-top-color: blue; border-right-color: white; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 2vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: blue;}

  25% {border-left-color: white; border-top-color: white; border-right-color: red; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 1vw; border-right-width: 2vw; border-bottom-width: 1vw;
      background: red;}

  50% {border-left-color: white; border-top-color: white; border-right-color: white; border-bottom-color: green;
      border-left-width: 2vw; border-top-width: 1vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: green;}

  75% {border-left-color: red; border-top-color: white; border-right-color: white; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 1vw; border-right-width: 2vw; border-bottom-width: 1vw;
      background: red;}

  100% {border-left-color: white; border-top-color: blue; border-right-color: white; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 2vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: blue;}

}





@keyframes outerAnimation {
  0% {border-left-color: white; border-top-color: green; border-right-color: white; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 2vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: green;}

  25% {border-left-color: white; border-top-color: white; border-right-color: blue; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 1vw; border-right-width: 2vw; border-bottom-width: 1vw;
      background: blue;}

  50% {border-left-color: white; border-top-color: white; border-right-color: white; border-bottom-color: red;
      border-left-width: 1vw; border-top-width: 1vw; border-right-width: 1vw; border-bottom-width: 2vw;
      background: red;}

  75% {border-left-color: blue; border-top-color: white; border-right-color: white; border-bottom-color: white;
      border-left-width: 2vw; border-top-width: 1vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: blue;}

  100% {border-left-color: white; border-top-color: green; border-right-color: white; border-bottom-color: white;
      border-left-width: 1vw; border-top-width: 2vw; border-right-width: 1vw; border-bottom-width: 1vw;
      background: green;}

}



@keyframes bkgrAnimation {
  0%  {background: green;}

  25% {background: blue;}

  50% {background: red;}

  75% {background: blue;}

  100% {background: green;}

}
